watch: 
 - "C:\\Users\\John\\Documents\\"
storage: 
  local: 
    path: "D:\\backup\\"
    active: true
  fake:
    active: false
snapshot:
  default: leveldb
  leveldb:
    sameDir: true
    snapshotDir: .snapshot
    active: true