watch: 
 - "C:\\Users\\John\\Documents\\"
storage: 
  gdrive:
    path: ""
    tokenFile: "token.json"
    credentialsFile: "credentials.json"
    active: true
  local:
    path: "D:\\backup\\"
    active: true
  fake:
    active: false
snapshot:
  sameDir: true
  bucketName: snapshot
  fileName: .snapshot
