/* html {
  font-size: 12px;
} */

nav {
  background-color: #d8d8d8;
  height: 60px;
}

.container {
  width: 100%;
}

.collection .collection-item {
  height: 55px;
  padding: 2px 5px 2px 10px;
}

.container .collection {
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: #ddd;
  height: 40px;
}

footer.footer-copyright {
  padding: 0px;
}

li span.title {
  font-size: 14px;
  margin: 1px;
  padding: 1px;
}

li span.info {
  color: #888;
  font-size: 11px;
  margin: 1px;
  padding: 1px;
}

.material-icons {
  padding-right: 10px;
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}

.preloader-wrapper.xsmall {
  width: 21px;
  height: 21px;
  position: relative;
  /* Adjust these values accordingly */
  top: -5px;
  left: -5px;
}

#backup-status-text {
  font-size: 10px;
  margin: 0 0 0 20px;
  padding: 0px;
}

.progress {
  /* position: relative;
  height: 4px;
  display: block;
  width: 100%;
  border-radius: 2px; */
  background-color:whitesmoke;
  margin: 0 0 0.5rem 0;
}

.progress .determinate {
  background-color: darkblue;
}